html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.2;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  padding: 20px;
  background-color: #fff0f5; 
}


nav {
  background-color: #ffd6e0; 
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 8px 16px;
  border-radius: 5px;
  transition: all 0.4s ease;
}

nav ul li a:hover {
  background-color: #fff;
  color: #ff6f91; 
  transform: scale(1.15);
}


h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #ff6f91;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #ff5a7f;
}


.section {
  background-color: #fff2f0; 
  border: 1px solid #f7d1cd;
  border-radius: 10px;
  padding: 15px;
  margin: 20px 0;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 10px auto;
  border-radius: 10px;
}


.cta {
  background-color: #ff6f91;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 5px;
  display: inline-block;
}

.cta:hover {
  background-color: #ff4f70;
  transform: scale(1.1);
}


main {
  max-width: 800px;
  margin: 0 auto;
}


footer {
  text-align: center;
  margin-top: 30px;
  font-size: 0.9em;
  color: #555;
}


input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: vertical;
}

